html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: table;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

h1::after {
  content: '';
  display: block;
  margin: 15px auto 0;
  width: 75px;
  height: 1px;
  background: #000;
}

h2 {
  font-size: 55px;
  letter-spacing: 2px;
  margin: 0px;
}

p {
  color: #bdc3c7;
}

.container {
  text-align: center;
  padding: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

img {
  max-width: 375px;
}